#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  width: 100vw;
  margin: 0;
  min-height: 100vh;
  text-align: center;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.dashboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 25vw;
  min-height: 100%;
  border-right: 1px solid #ffffff;
}

.sidebarTitle {
  font-size: 48px;
  font-weight: 650;
  text-shadow: #0057b7 0 0 2.5em;
  margin: 1em 0em;
}

.title {
  font-size: 48px;
  font-weight: 650;
  text-shadow: #0057b7 0 0 2.5em;
}

.userBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  margin: 0.5em 1em;
  gap: 1em;
  top: 0;
  right: 0;
}

.serviceInfo {
  position: relative;
  width: 100%;
  cursor: pointer;
}

.serviceInfo:hover .serviceImageLayer {
  opacity: 0.7;
  transition: opacity 0.3s;
}

.banner {
  position: relative;
  width: 100%;
}

.serviceImage {
  position: relative;
}

.serviceImage:hover .servicePic {
  opacity: 0.9;
  transition: opacity 0.3s;
}

.serviceImageLayer {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
  opacity: 0.4;
}

.serviceImageLayer:hover {
  opacity: 0.7;
  transition: opacity 0.3s;
}

.servicesText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.servicesTitle {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.bannerUpperText {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 36px;
  text-shadow: #000000 0 0 0.5em;
}

.bannerMiddleText {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 75%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 20px;
  text-shadow: #000000 0 0 0.5em;
}

.bannerLowerText {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 30px;
  text-shadow: #000000 0 0 0.5em;
}

.card {
  flex: 40%;
  height: 15em;
  border: 1px solid #ffffff;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 1em;
  border-radius: 10px;
  overflow: hidden;
}

.sidebarMenu {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.sidebarItem:hover {
  background-color: #273239;
  width: auto;
  border-radius: 8px;
  font-size: 26px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.25s, font-size 0.25s;
}

.sidebarItem {
  font-size: 24px;
  font-weight: 500;
  align-items: center;
}

.view {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
}

.apply {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 1em;
}

.studentApply {
  display: flex;
  width: 40vw;
  flex-direction: column;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  border: solid 1px #ffffff;
  border-radius: 20px;
  padding: 1em;
  padding: 1em 1em 4em 1em;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 40vw;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  border: solid 1px #ffffff;
  border-radius: 20px;
  padding: 1em 1em 4em 1em;
}

.clientApply {
  display: flex;
  width: 40vw;
  flex-direction: column;
  align-items: center;
  margin-right: 3em;
  margin-left: 3em;
  border: solid 1px #ffffff;
  border-radius: 20px;
  padding: 1em;
  padding: 1em 1em 4em 1em;
}

.applyContainer {
  display: flex;
  width: 80%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.services-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  gap: 10%;
}

.splitImageContainer {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.splitImageLabel {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 36px;
  text-shadow: #000000 0 0 0.5em;
  cursor: pointer;
}

.splitImage {
  position: relative;
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
}

.splitImage:hover .splitImagePic {
  opacity: 0.9;
  transition: opacity 0.3s;
}

.splitImagePic {
  height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0.65;
  cursor: pointer;
}

.splitImagePic:hover {
  opacity: 0.9;
  transition: opacity 0.3s;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.servicesPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
  gap: 2em;
}

h4 {
  margin-left: auto;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  place-items: center;
  align-items: center;
  text-align: center;
  margin: auto;
}

.servicesImage {
  flex: 1;
  width: 200px;
  height: 150px;
  overflow: hidden;
}
.servicesImage img {
  width: 100%;
  height: 100%;
  display: cover;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

.midBanner {
  width: 80%;
  height: 300px;
  object-fit: cover;
  object-position: center;
  opacity: 0.65;
}

.servicePicLabel {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 18px;
  text-shadow: #000000 0 0 0.5em;
  cursor: pointer;
}

.servicePic {
  height: 24vh;
  width: auto;
  opacity: 0.65;
  cursor: pointer;
}

.servicePic:hover {
  opacity: 0.9;
  transition: opacity 0.3s;
}

.cardTopProject {
  display: flex;
  height: 40%;
  flex-direction: row;
  background-color: #80199a;
  justify-content: center;
  align-items: center;
}

.cardTopProposal {
  display: flex;
  height: 40%;
  flex-direction: row;
  background-color: #860e0e;
  justify-content: center;
  align-items: center;
}

.cardTopApplication {
  display: flex;
  height: 40%;
  flex-direction: row;
  background-color: #17c214;
  justify-content: center;
  align-items: center;
}

.cardBottom {
  display: flex;
  padding-top: 2em;
  flex-direction: row;
}

h1 {
  /* font-size: 3.2em; */
  font-size: 4em;
  line-height: 1.1;
  text-align: center;
  margin: auto;
}

.projectInfoView {
  display: flex;
  flex-wrap: "wrap";
  flex-direction: column;
  overflow-y: scroll;
  max-height: 70vh;
  margin: 2em;
  margin-top: 3em;
  margin-bottom: "5vh";
  gap: "7.5vh";
}

.topInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 5vh;
}

.bottomInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 7.5vh;
}

.middleInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2em;
}
.logoutButton {
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 0.6em 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #273239;
  cursor: pointer;
  transition: border-color 0.25s;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  border-color: #ffffff;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #33689c;
  cursor: pointer;
  color: #ffffff;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #33689c;
  }
}

.footer {
  display: grid;
  grid-template-rows: 1fr 10rem auto;
  grid-template-areas: "main" "." "footer";
  overflow-x: hidden;
  background: #f5f7fa;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  .footer {
    z-index: 1;
    --footer-background: #ed5565;
    display: grid;
    position: relative;
    grid-area: footer;
    min-height: 12rem;
    .bubbles {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 1rem;
      background: var(--footer-background);
      filter: url("#blob");
      .bubble {
        position: absolute;
        left: var(--position, 50%);
        background: var(--footer-background);
        border-radius: 100%;
        animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s),
          bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
        transform: translate(-50%, 100%);
      }
    }
    .content {
      z-index: 2;
      display: grid;
      grid-template-columns: 1fr auto;
      grid-gap: 4rem;
      padding: 2rem;
      background: var(--footer-background);
      a,
      p {
        color: #f5f7fa;
        text-decoration: none;
      }
      b {
        color: white;
      }
      p {
        margin: 0;
        font-size: 0.75rem;
      }
      > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        > div {
          margin: 0.25rem 0;
          > * {
            margin-right: 0.5rem;
          }
        }
        .image {
          align-self: center;
          width: 4rem;
          height: 4rem;
          margin: 0.25rem 0;
          background-size: cover;
          background-position: center;
        }
      }
    }
  }
}

@keyframes bubble-size {
  0%,
  75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}
@keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}
