@media screen and (min-aspect-ratio: 5/4) {
  #root {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: #f6f7f8;
    color: #202124;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    min-height: 100vh;
    text-align: center;
    text-rendering: optimizeLegibility;
    width: 100vw;
  }
  .dashboard {
    align-items: center;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: auto;
    width: 100vw;
  }
  .landingPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-bottom: 4em;
  }
  .loginButton {
    position: absolute;
    top: 1em;
    right: 1em;
  }

  .sidebar {
    background-color: #f6f7f8;
    border-bottom: 2px solid #eaebee;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 25vw;
  }
  .sidebarTitle {
    font-size: 48px;
    font-weight: 650;
    margin: 1em 0em;
    text-shadow: #0057b7 0 0 2.5em;
  }
  .title {
    font-size: 48px;
    font-weight: 650;
    text-shadow: #0057b7 0 0 2.5em;
  }
  .userBar {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin: 0.5em 1em;
    position: absolute;
    right: 0;
    top: 0;
  }
  .serviceInfo {
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    width: 90%;
  }
  .serviceInfo:hover {
    border-radius: 10px;
    scale: 1.03;
    transition: scale 0.25s;
  }
  .banner {
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .serviceImage {
    border: 1px solid #6e7c85;
    border-radius: 10px;
    height: 24vh;
    position: relative;
  }
  .serviceImage:hover {
    scale: 1.1;
    transition: scale 0.25s;
  }
  .serviceImageLayer {
    border-radius: 10px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }
  .servicesText {
    color: white;
    left: 50%;
    position: absolute;
    text-align: center;
    text-shadow: #000000 0 0 0.5em;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .servicesTitle {
    color: white;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 10%;
    transform: translate(-50%, -50%);
  }
  .bannerUpperText {
    color: white;
    font-size: 36px;
    left: 50%;
    position: absolute;
    text-align: center;
    text-shadow: #000000 0 0 0.5em;
    top: 5%;
    transform: translate(-50%, -50%);
  }
  .bannerMiddleText {
    color: white;
    font-size: 20px;
    left: 50%;
    position: absolute;
    text-align: center;
    text-shadow: #000000 0 0 0.5em;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 75%;
  }
  .bannerLowerText {
    color: white;
    font-size: 30px;
    left: 50%;
    position: absolute;
    text-align: center;
    text-shadow: #000000 0 0 0.5em;
    top: 72.5%;
    transform: translate(-50%, -50%);
  }
  .card {
    align-items: center;
    background-color: #f0f4f9;
    border: 1px solid #6e7c85;
    border-radius: 10px;
    cursor: pointer;
    flex: 40%;
    height: 15em;
    justify-content: center;
    margin: 1em;
    max-width: 43%;
    overflow: hidden;
  }
  .sidebarMenu {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
  }
  .sidebarItem:hover {
    background-color: #c2e7ff;
    border-radius: 8px;
    cursor: pointer;
    font-size: 26px;
    font-weight: 500;
    transition: background-color 0.25s, font-size 0.25s;
    width: auto;
  }
  .sidebarItem {
    align-items: center;
    font-size: 24px;
    font-weight: 500;
  }
  .view {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;
  }
  .apply {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: auto;
  }
  .studentApply {
    align-items: center;
    border: solid 1px #6e7c85;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 35vh;
    margin-left: 3em;
    margin-right: 3em;
    padding: 1em 1em 4em 1em;
    width: 40vw;
  }
  .form {
    align-items: center;
    border: solid 1px #6e7c85;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding: 1em 1em 4em 1em;
    width: 40vw;
  }
  .clientApply {
    align-items: center;
    border: solid 1px #6e7c85;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 35vh;
    margin-left: 3em;
    margin-right: 3em;
    padding: 1em 1em 4em 1em;
    width: 40vw;
  }
  .applyContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
  }
  .services-container {
    display: flex;
    flex-direction: row;
    gap: 10%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .splitImageContainer {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }
  .splitImageLabel {
    color: white;
    cursor: pointer;
    font-size: 36px;
    left: 50%;
    position: absolute;
    text-align: center;
    text-shadow: #000000 0 0 0.5em;
    top: 35%;
    transform: translate(-50%, -50%);
  }
  .splitImage {
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    width: 50%;
  }
  .splitImage:hover .splitImagePic {
    scale: 1.025;
    transition: scale 0.25s;
  }
  .splitImagePic {
    cursor: pointer;
    height: 300px;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }
  .services {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin: auto;
    width: 80%;
  }
  .servicesPage {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
  }
  h4 {
    margin-left: auto;
  }
  a {
    color: #646cff;
    font-weight: 500;
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  }
  header {
    align-items: center;
    background-color: #ffffff;
    border-bottom: 2px solid #eaebee;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-bottom: 1em;
    place-items: center;
    text-align: center;
    width: 100%;
  }
  .servicesImage {
    flex: 1;
    height: 150px;
    overflow: hidden;
    width: 200px;
  }
  .servicesImage img {
    display: cover;
    height: 100%;
    width: 100%;
  }
  body {
    display: flex;
    margin: 0;
    min-height: 100vh;
    min-width: 320px;
    place-items: center;
  }
  .navbar {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
  }
  .navlink {
    color: #65676e;
  }
  nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
  }
  .midBanner {
    border-radius: 10px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    width: 80%;
  }
  .servicePicLabel {
    color: white;
    cursor: pointer;
    font-size: 18px;
    left: 50%;
    position: absolute;
    text-align: center;
    text-shadow: #000000 0 0 0.5em;
    top: 40%;
    transform: translate(-50%, -50%);
  }
  .servicePic {
    border-radius: 10px;
    cursor: pointer;
    height: 24vh;
    width: auto;
  }
  .cardTopProject {
    align-items: center;
    background-color: #ffffff;
    border-bottom: 1px solid #6e7c85;
    display: flex;
    flex-direction: row;
    height: 40%;
    justify-content: center;
  }
  .cardTopProposal {
    align-items: center;
    background-color: #860e0e;
    display: flex;
    flex-direction: row;
    height: 40%;
    justify-content: center;
  }
  .cardTopApplication {
    align-items: center;
    background-color: #17c214;
    display: flex;
    flex-direction: row;
    height: 40%;
    justify-content: center;
  }
  .cardBottom {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding-top: 2em;
  }
  h1 {
    font-size: 4em;
    line-height: 1.1;
    margin: auto;
    text-align: center;
  }
  .projectInfoView {
    display: flex;
    flex-direction: column;
    flex-wrap: "wrap";
    gap: "7.5vh";
    margin: 2em;
    margin-bottom: "5vh";
    margin-top: 3em;
    max-height: 70vh;
    overflow-y: scroll;
  }
  .topInfo {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 5vh;
  }
  .bottomInfo {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 7.5vh;
  }
  .middleInfo {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .descriptionContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2em;
  }
  .logoutButton {
    background-color: #33689c;
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    font-family: inherit;
    font-size: 1em;
    font-weight: 500;
    padding: 0.6em 0.6em;
    transition: border-color 0.25s;
  }
  button {
    background-color: #33689c;
    border: 1px solid transparent;
    border-color: #ffffff;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
    font-family: inherit;
    font-size: 1em;
    font-weight: 500;
    padding: 0.6em 1.2em;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  td {
    background-color: #f6f7f8;
    border: 1px solid #ffffff;
    border-radius: 10px;
    color: #000000;
    padding: 1em;
  }
  th {
    background-color: #f0f4f9;
    border: 1px solid #ffffff;
    border-radius: 10px;
    color: #000000;
    padding: 1em;
  }
  .table {
    gap: 1em;
    margin: 2em;
    overflow: scroll;
  }
}

@media screen and (max-aspect-ratio: 5/4) {
  #root {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: #f6f7f8;
    color: #202124;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    min-height: 100vh;
    text-align: center;
    text-rendering: optimizeLegibility;
    width: 100vw;
    padding-bottom: 30vh;
  }
  .dashboard {
    align-items: center;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: auto;
    width: 100vw;
  }
  .landingPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
    margin-bottom: 4em;
  }
  .sidebar {
    background-color: #f6f7f8;
    border-bottom: 2px solid #eaebee;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 25vw;
  }
  .sidebarTitle {
    font-size: 48px;
    font-weight: 650;
    margin: 1em 0em;
    text-shadow: #0057b7 0 0 2.5em;
  }
  .title {
    font-size: 48px;
    font-weight: 650;
    text-shadow: #0057b7 0 0 2.5em;
  }
  .userBar {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin: 0.5em 1em;
    position: absolute;
    right: 0;
    top: 0;
  }
  .serviceInfo {
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    width: 90%;
  }
  .serviceInfo:hover {
    border-radius: 10px;
    scale: 1.03;
    transition: scale 0.25s;
  }
  .banner {
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .serviceImage {
    border: 1px solid #6e7c85;
    border-radius: 10px;
    height: 26vh;
    position: relative;
  }
  .serviceImage:hover {
    scale: 1.1;
    transition: scale 0.25s;
  }
  .serviceImageLayer {
    border-radius: 10px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }
  .servicesText {
    color: white;
    left: 50%;
    position: absolute;
    text-align: center;
    text-shadow: #000000 0 0 0.5em;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .servicesTitle {
    color: white;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 10%;
    transform: translate(-50%, -50%);
  }
  .bannerUpperText {
    color: white;
    width: 100%;
    font-size: 26px;
    left: 50%;
    position: absolute;
    text-align: center;
    text-shadow: #000000 0 0 0.5em;
    top: 5%;
    transform: translate(-50%, -50%);
  }
  .bannerMiddleText {
    color: white;
    font-size: 20px;
    left: 50%;
    position: absolute;
    text-align: center;
    text-shadow: #000000 0 0 0.5em;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 75%;
  }
  .bannerLowerText {
    width: 100%;
    color: white;
    font-size: 26px;
    left: 50%;
    position: absolute;
    text-align: center;
    text-shadow: #000000 0 0 0.5em;
    top: 72.5%;
    transform: translate(-50%, -50%);
  }
  .card {
    align-items: center;
    background-color: #f0f4f9;
    border: 1px solid #6e7c85;
    border-radius: 10px;
    cursor: pointer;
    flex: 40%;
    height: 15em;
    justify-content: center;
    margin: 1em;
    max-width: 43%;
    overflow: hidden;
  }
  .sidebarMenu {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
  }
  .sidebarItem:hover {
    background-color: #c2e7ff;
    border-radius: 8px;
    cursor: pointer;
    font-size: 26px;
    font-weight: 500;
    transition: background-color 0.25s, font-size 0.25s;
    width: auto;
  }
  .sidebarItem {
    align-items: center;
    font-size: 24px;
    font-weight: 500;
  }
  .view {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;
  }
  .apply {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 2em;
  }
  .studentApply {
    align-items: center;
    border: solid 1px #6e7c85;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 95%;
    padding: 1em 1em 4em 1em;
  }
  .form {
    align-items: center;
    border: solid 1px #6e7c85;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding: 1em 1em 4em 1em;
    width: 40vw;
  }
  .clientApply {
    align-items: center;
    border: solid 1px #6e7c85;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 3em;
    margin-right: 3em;
    padding: 1em 1em 4em 1em;
    width: 95%;
  }
  .applyContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .services-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .splitImageContainer {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }
  .splitImageLabel {
    color: white;
    cursor: pointer;
    font-size: 36px;
    left: 50%;
    position: absolute;
    text-align: center;
    text-shadow: #000000 0 0 0.5em;
    top: 35%;
    transform: translate(-50%, -50%);
  }
  .splitImage {
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    width: 50%;
  }
  .splitImage:hover .splitImagePic {
    scale: 1.025;
    transition: scale 0.25s;
  }
  .splitImagePic {
    cursor: pointer;
    height: 300px;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }
  .services {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin: auto;
    width: 80%;
  }
  .servicesPage {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
  }
  h4 {
    margin-left: auto;
  }
  a {
    color: #646cff;
    font-weight: 500;
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  }
  header {
    align-items: center;
    background-color: #ffffff;
    border-bottom: 2px solid #eaebee;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-bottom: 1em;
    place-items: center;
    text-align: center;
    width: 100%;
  }
  .servicesImage {
    flex: 1;
    height: 150px;
    overflow: hidden;
    width: 200px;
  }
  .servicesImage img {
    display: cover;
    height: 100%;
    width: 100%;
  }
  body {
    display: flex;
    margin: 0;
    min-height: 100vh;
    min-width: 320px;
    place-items: center;
  }
  .navbar {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
  }
  .navlink {
    color: #65676e;
  }
  nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
  }
  .midBanner {
    border-radius: 10px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }
  .servicePicLabel {
    color: white;
    cursor: pointer;
    font-size: 18px;
    left: 50%;
    position: absolute;
    text-align: center;
    text-shadow: #000000 0 0 0.5em;
    top: 40%;
    transform: translate(-50%, -50%);
  }
  .servicePic {
    border-radius: 10px;
    cursor: pointer;
    height: 26vh;
    width: auto;
  }
  .cardTopProject {
    align-items: center;
    background-color: #ffffff;
    border-bottom: 1px solid #6e7c85;
    display: flex;
    flex-direction: row;
    height: 40%;
    justify-content: center;
  }
  .cardTopProposal {
    align-items: center;
    background-color: #860e0e;
    display: flex;
    flex-direction: row;
    height: 40%;
    justify-content: center;
  }
  .cardTopApplication {
    align-items: center;
    background-color: #17c214;
    display: flex;
    flex-direction: row;
    height: 40%;
    justify-content: center;
  }
  .cardBottom {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding-top: 2em;
  }
  h1 {
    font-size: 4em;
    line-height: 1.1;
    margin: auto;
    text-align: center;
  }
  .projectInfoView {
    display: flex;
    flex-direction: column;
    flex-wrap: "wrap";
    gap: "7.5vh";
    margin: 2em;
    margin-bottom: "5vh";
    margin-top: 3em;
    max-height: 70vh;
    overflow-y: scroll;
  }
  .topInfo {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 5vh;
  }
  .bottomInfo {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 7.5vh;
  }
  .middleInfo {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .descriptionContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2em;
  }
  .logoutButton {
    background-color: #33689c;
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    font-family: inherit;
    font-size: 1em;
    font-weight: 500;
    padding: 0.6em 0.6em;
    transition: border-color 0.25s;
  }
  button {
    background-color: #33689c;
    border: 1px solid transparent;
    border-color: #ffffff;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
    font-family: inherit;
    font-size: 0.7em;
    font-weight: 500;
    padding: 0.6em 1.2em;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  td {
    background-color: #f6f7f8;
    border: 1px solid #ffffff;
    border-radius: 10px;
    color: #000000;
    padding: 1em;
  }
  th {
    background-color: #f0f4f9;
    border: 1px solid #ffffff;
    border-radius: 10px;
    color: #000000;
    padding: 1em;
  }
  .table {
    gap: 1em;
    margin: 2em;
    overflow: scroll;
  }
}